/* // INSERIDO POR LAURA */
:host .mat-icon {
    vertical-align: middle;
    margin-right: 1rem;
  }
  
  .logo {
    text-align: center;
    padding: 2.6rem 1rem;
  }
  
  .logo img {
    width: 80px;
  }
  
  .mat-divider {
    border-top-width: 2px;
    border-color: #E9EEF2;
  }
  
  .mat-list-item {
    color: #B3E0F2 !important;
    font-size: 0.8rem;
    height: 44px !important;
    margin-bottom: 4px;
  }
  
  .mat-list-item:hover {
    color: #B3E0F2 !important;
  }
  
  .mat-list-item ::ng-deep .mat-list-item-content {
    border-radius: 5px;
    margin: 0 8px;
  }
  
  .mat-list-item ::ng-deep .mat-list-item-content:hover {
    background: #0E4C73 !important;
  }
  
  .list-item-active {
    color: #049DD9 !important;
  }
  
  .list-item-active ::ng-deep .mat-list-item-content {
    background: #0E4C73 !important;
  }
  
  .list-item-active ::ng-deep .mat-list-item-content:hover {
    background: #0E4C73 !important;
  }
  
  .mat-subheader {
    color: #049DD9;
    font-size: 0.6rem;
    font-weight: 100;
    letter-spacing: 1px;
  }
  
  .list-item-icon {
    width: 32px; 
    height: 32px; 
    margin-right: 8px;
  }

  